name: Deploy to ECS

on:
  push:
    branches:
      - main
      - develop

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Configure AWS
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-south-1

    - name: Login to ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    - name: Set ENV based on branch
      run: |
        if [[ "${GITHUB_REF}" == "refs/heads/main" ]]; then
          echo "ENV=prod" >> $GITHUB_ENV
          echo "API_URL=${{ secrets.NEXT_PUBLIC_API_URL_PROD }}" >> $GITHUB_ENV
          echo "CLUSTER=${{ secrets.ECS_CLUSTER_NAME_PROD }}" >> $GITHUB_ENV
          echo "FRONTEND=${{ secrets.ECS_FRONTEND_SERVICE_PROD }}" >> $GITHUB_ENV
          echo "BACKEND=${{ secrets.ECS_BACKEND_SERVICE_PROD }}" >> $GITHUB_ENV
        else
          echo "ENV=staging" >> $GITHUB_ENV
          echo "API_URL=${{ secrets.NEXT_PUBLIC_API_URL }}" >> $GITHUB_ENV
          echo "CLUSTER=${{ secrets.ECS_CLUSTER_NAME }}" >> $GITHUB_ENV
          echo "FRONTEND=${{ secrets.ECS_FRONTEND_SERVICE }}" >> $GITHUB_ENV
          echo "BACKEND=${{ secrets.ECS_BACKEND_SERVICE }}" >> $GITHUB_ENV
        fi

    - name: Build Frontend
      run: |
        docker build \
        --build-arg NEXT_PUBLIC_API_URL=$API_URL \
        -t pgagi-frontend ./frontend

        docker tag pgagi-frontend:latest \
        ${{ steps.login-ecr.outputs.registry }}/pgagi-frontend:latest

        docker push \
        ${{ steps.login-ecr.outputs.registry }}/pgagi-frontend:latest

    - name: Build Backend
      run: |
        docker build -t pgagi-backend ./backend
        docker tag pgagi-backend:latest \
        ${{ steps.login-ecr.outputs.registry }}/pgagi-backend:latest
        docker push \
        ${{ steps.login-ecr.outputs.registry }}/pgagi-backend:latest

    - name: Deploy Frontend
      run: |
        aws ecs update-service \
        --cluster $CLUSTER \
        --service $FRONTEND \
        --force-new-deployment

    - name: Deploy Backend
      run: |
        aws ecs update-service \
        --cluster $CLUSTER \
        --service $BACKEND \
        --force-new-deployment
