name: Deploy to ECS

on:
  push:
    branches:
      - main

env:
  AWS_REGION: ${{ secrets.AWS_REGION }}
  ECR_FRONTEND_REPO: ${{ secrets.ECR_FRONTEND_REPO }}
  ECR_BACKEND_REPO: ${{ secrets.ECR_BACKEND_REPO }}
  ECS_CLUSTER: ${{ secrets.ECS_CLUSTER_NAME }}
  ECS_FRONTEND_SERVICE: ${{ secrets.ECS_FRONTEND_SERVICE }}
  ECS_BACKEND_SERVICE: ${{ secrets.ECS_BACKEND_SERVICE }}

jobs:
  deploy:
    name: Build & Deploy
    runs-on: ubuntu-latest

    steps:

      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Frontend
        run: |
          docker build \
            --build-arg NEXT_PUBLIC_API_URL=/api \
            -t ${{ secrets.ECR_FRONTEND_REPO }}:latest ./frontend

      - name: Build & Push Backend
        run: |
          docker build -t $ECR_BACKEND_REPO ./backend
          docker tag $ECR_BACKEND_REPO:latest ${{ steps.login-ecr.outputs.registry }}/$ECR_BACKEND_REPO:latest
          docker push ${{ steps.login-ecr.outputs.registry }}/$ECR_BACKEND_REPO:latest

      - name: Force New Deployment (Frontend)
        run: |
          aws ecs update-service \
          --cluster pgagi-cluster-dev \
          --service pgagi-frontend-service-dev \
          --force-new-deployment

      - name: Force New Deployment (Backend)
        run: |
          aws ecs update-service \
          --cluster ${{ secrets.ECS_CLUSTER_NAME }} \
          --service ${{ secrets.ECS_BACKEND_SERVICE }} \
          --force-new-deployment

